<div style="margin-top: 12px;">
  <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02" (change)="onChange($event)">
    <label class="input-group-text" for="inputGroupFile02">Upload</label>
  </div>

  <div class="progress">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
  </div>

</div>
<div style="margin-top: 12px;">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Upload</button>
</div>
<div style="margin-top: 12px;">
  <button type="button" class="btn btn-primary" (click)="onDownloadExcel()">Download Excel</button>
  <button type="button" class="btn btn-primary" (click)="onDownloadPDF()">Download PDF</button>
</div>