<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Http</span>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/cursos">Cursos</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/rxjs-poc">RxJS POC</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/upload">Upload Arquivo</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/busca-reativa">Pesquisa Reativa</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet />
</div>
